@font-face {
    font-family: 'BIG SHOOT';
    src: url('fonts/BIG_SHOOT.ttf') format('truetype');
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'BIG SHOOT', Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    background: white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

.title {
    font-family: 'BIG SHOOT', sans-serif;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.counter {
    font-size: 2em;
    margin-bottom: 20px;
}

.coin-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.coin {
    width: 200px;  /* Увеличено для удобства нажатия */
    height: 200px;
    margin-bottom: 20px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.nav-button {
    background: #007bff;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    font-family: 'BIG SHOOT', sans-serif;
    flex: 1;  /* Сделать все кнопки одинакового размера */
    margin: 0 5px;  /* Добавить промежуток между кнопками */
    box-sizing: border-box;  /* Учесть паддинги и маргины в размерах */
}

.nav-button:hover {
    background: #0056b3;
}
